@model Location


<h2>Add Location</h2>


<form method="post">

    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Description">Description</label>
        <input asp-for="Description" />
    </div>
    <div>
        <label asp-for="Address">Address</label>
        <input asp-for="Address" />
    </div>
    <div>
        <label asp-for="PhoneNumber">PhoneNumber</label>
        <input asp-for="PhoneNumber" />
    </div>
    <div>
        <label asp-for="Schedule">Schedule</label>
        <input asp-for="Schedule" />
    </div>

    <button type="submit">Submit</button>
    <a asp-controller="Home" asp-action="Index">Back to home</a>
</form>
