@model Location
@{
    var id = ViewData["locationId"];
}


<h2>Delete Location</h2>


<form method="post" asp-action="DeletePOST" asp-route-locationId="@id">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" disabled />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description">Description</label>
        <input asp-for="Description" disabled />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Address">Address</label>
        <input asp-for="Address" disabled />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber">Phone Number</label>
        <input asp-for="PhoneNumber" disabled />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Schedule">Schedule</label>
        <input asp-for="Schedule" disabled />
        <span asp-validation-for="Schedule" class="text-danger"></span>
    </div>


    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="Index">Back to home</a>
</form>
@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


