@model IEnumerable<Location>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">ReviewPRO!<br /> Find the best place in your city!</h1>
<br />
<br />
<div>Latest 5star review</div>
@if (ViewBag.location != null)
{
    <div>@ViewBag.location.Name</div>
    <div>@ViewBag.review.Comment</div>
    <div>@ViewBag.location.Schedule</div>
}


